extends ../layouts/default

block main
  .container.well
    .row
       .span8.offset4
         p="Please Connect your Xbee Cordinator to its Cloud Cordinator"
    .row
       .span8.offset4
         a(href="/auth/cloudcordinator")
           img(src="/img/twitter.png")

