div('date-role'='page', id='action_#{action.sensor._id}_#{action.desc.name}')
    div('data-role'='header', 'data-title'='test')
      h3 #{action.desc.name}
      a.ui-btn-left('data-icon'='delete','data-rel'='back') Back
    div('data-role'='content')
      h3 set
