extends layouts/default

block main
  div('data-role'='page', id='main')
    div('data-role'='header')
      h1 Thing Manager
    div('data-role'='content')
      div('data-role'='collapsible-set')
        div('data-role'='collapsible', 'data-collapsed'='false')
          h3 Sensors
          each sensor in sensors
            include sensorData
        div('data-role'='collapsible', 'data-collapsed'='true')
          h3 Rules
  each action in actions
    include sensorAction







