extends layouts/default

block main
  #unsecure('date-role'='page')
    div('data-theme'='a', 'data-role'='header')
      h3 Cloud Cordinator
    div('data-role'='content')
      h6
        Please Log in
      form(action='/users/session', method='POST', 'data-ajax'='false')
        div('data-role'="fieldcontain")
          fieldset('data-role'='controlgroup')
            label(for='textinput1') Email
            input#textinput1(name='email', placeholder='', value='', type='email')
        div('data-role'="fieldcontain")
          fieldset('data-role'='controlgroup')
            label(for='textinput2') Password
            input#textinput2(name='password', placeholder='', value='', type='password')
        input(type='submit', value='Login')



