extends ../layouts/default

block main
  .container
    .span10.user_edit.hero-unit
      h1='Xbee Cordinator'
      br
      p='The Xbee Cordinator is responble for receiving messages from xbee sensors and sending updates to the cloud cordinator. It also can receive sensor commands from the cloud cordinator for interacting with sensors.' 
      br
      p='This web interface is primilary used for connecting to the cloud cordinator'
      br
      br
block extrajs

