extends ../layouts/default

block main
  .container-fluid
    .row.span10.hero-unit.boxed
      h1='Xbee Cordinator Service'
      br
      p='Access and Write data to Xbee sensors in your home'
      p=''
      a.btn.btn-primary.btn-large(href='https://github.com/bryanpaluch/home-monitor')="Fork me"
block extrajs

